.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.gap-20 {
  gap: 20px;
}
